<mat-toolbar color="primary">
	<span>Cool App</span>

	<!-- This fills the remaining space of the current row -->
	<span class="example-fill-remaining-space"></span>

	<mat-menu #appMenu="matMenu">
		<button mat-menu-item>
			<mat-icon>dialpad</mat-icon>
			<span>Redial</span>
		</button>
		<button mat-menu-item disabled>
			<mat-icon>voicemail</mat-icon>
			<span>Check voicemail</span>
		</button>
		<button mat-menu-item>
			<mat-icon>notifications_off</mat-icon>
			<span>Disable alerts</span>
		</button>
	</mat-menu>

	<span>
		<a mat-button href="https://mighty-lake-71853.herokuapp.com/">Online Chat</a>
	</span>

	<button mat-icon-button [matMenuTriggerFor]="appMenu">
		<mat-icon>more_vert</mat-icon>
	</button>

</mat-toolbar>