.container {
    display: grid;
    grid-template-areas:
        "turn turn turn turn turn"
        "board board board board board"
        "board board board board board"
        "board board board board board"
        "board board board board board";
    justify-items: center;
}

.container > * {
    padding: 10px;
}

.turn {
    grid-area: turn;
}

app-grid {
    grid-area: board;
}